.header-logo {
  width: 4.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: hsl(217, 28%, 15%);
}

nav ul {
  display: flex;
  gap: 1.5rem;
}

nav a {
  font-family: "Raleway", sans-serif;
  color: hsl(180, 5%, 85%);
}

@media (min-width: 1240px) {
  .menu-items li a:hover {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
  }
  .menu-items li a {
    position: relative;
  }
  .menu-items li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: hsl(0, 0%, 100%);
    transition: width 0.3s ease-in-out;
  }
  .menu-items li a:hover::after {
    width: 100%;
  }
}
.grid {
  position: relative;
  padding-top: 14rem;
  background: hsl(216, 53%, 9%);
}

.footer-logo {
  width: 8rem;
  margin-left: 2rem;
}

.grid-item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 3.5rem 0 1.5rem;
  gap: 1rem;
}

.grid-item1 p {
  color: hsl(180, 5%, 85%);
}

.grid-item1 img {
  margin-top: -3.7rem;
}

.grid-item2 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

.contact-info {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact-info img {
  width: 1rem;
  margin-left: -0.5rem;
}

.grid-item3 {
  margin-top: 5rem;
}

.grid-item3 ul,
.grid-item4 ul {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  margin-left: 1.5rem;
}

.grid-item4 {
  margin: 3rem 0;
}

.social-media {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-media i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 2.5rem 0;
}

/*-----DESKTOP VERSION------*/
@media (min-width: 1240px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: start;
    width: 85%;
    margin: auto;
  }
  .footer-logo {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .grid-item1 {
    margin-left: 0;
  }
  .grid-item3 {
    margin-top: 2rem;
    padding-left: 5rem;
  }
  .grid-item4 {
    margin-top: 2rem;
    padding-left: 3rem;
  }
  .info-grid {
    display: contents;
  }
  .footer-menu-items li a:hover {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
  }
  .social-media {
    justify-content: right;
    cursor: pointer;
  }
  .social-media i:hover {
    color: hsl(177, 65%, 63%);
    border-color: hsl(177, 65%, 63%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1 h2,
h3,
h4,
h5,
p,
figure,
picture {
  overflow-wrap: break-word;
}

/* make images easier to work with*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: hsl(218, 28%, 13%);
}

html, body {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.intro-text p {
  color: hsl(0, 0%, 100%);
}

.intro-text h1 {
  color: hsl(0, 0%, 100%);
  margin: 1.5rem;
  font-size: 1.44rem;
  text-wrap: unset;
  line-height: 1.5;
}

.intro-text p {
  color: hsl(180, 5%, 85%);
  font-size: 14px;
  margin: 1rem 3rem;
  opacity: 0.9;
}

/*-----CARDS SECTION------*/
.cards h2 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  color: hsl(0, 0%, 100%);
  margin: 2.5rem 0 1rem;
}

.cards p {
  text-align: center;
  margin-bottom: 4rem;
}

/*----PRODUCTIVE SECTION-----*/
.productive-para h2 {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin: 0 0 1rem 1rem;
}

.productive-para p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0 1rem 1rem 1rem;
  line-height: 1.5;
}

/*----PROFILES SECTION-----*/
.profile-card p {
  font-size: 12px;
  padding: 2rem 1.5rem;
}

/*----DESKTOP SECTION-------*/
@media (min-width: 1240px) {
  .intro-text h1 {
    margin: 1.5rem auto;
    text-align: center;
    width: 30rem;
  }
  .intro-text p {
    margin: 1.5rem auto;
    text-align: center;
    max-width: 55ch;
  }
}
.intro-wrapper {
  position: relative;
  text-align: center;
  background: hsl(217, 28%, 15%);
  /* overflow: hidden; */ /* keeps visuals contained */
  /* padding: 2rem 1.5rem 6rem; */ /* bottom padding for breathing room */
}

/* Illustration + curvy background container */
.intro-visuals {
  position: relative;
}

.intro-illustration {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  position: relative;
  z-index: 1; /* sits above background */
}

.intro-bg {
  display: block;
  width: 100vw;
  max-width: none;
  height: auto;
  margin-top: -3rem; /* pull curve upward */
  position: relative;
  left: 50%;
  transform: translate(-50%);
  z-index: 0; /* stays behind text + illustration */
}

/* Text overlay */
.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50ch;
  padding: 1rem;
  margin-top: 14rem;
  z-index: 2; /* above visuals */
}

.intro-text h1 {
  text-align: center;
}

.intro-btn {
  margin-top: 1rem;
}

/* --------- DESKTOP --------- */
@media (min-width: 1240px) {
  .intro-illustration {
    max-width: 600px;
  }
  .intro-text {
    margin-top: 9rem;
    width: 60%;
  }
  .intro-text h1 {
    font-size: 1.5rem;
  }
  .intro-bg {
    margin-top: 5rem;
  }
  .intro-btn:hover {
    background: linear-gradient(hsl(176, 68%, 74%), hsl(198, 60%, 60%));
    cursor: pointer;
  }
}
.articles-section {
  margin-top: 26rem;
}

article.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

/*------PROFILES SECTION------*/
.profile-card {
  background: hsl(219, 30%, 18%);
  width: 19rem;
  margin: 1.5rem auto;
  border-radius: 10px;
}

.profile-card p {
  color: hsl(180, 5%, 85%);
}

.profile-info {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.profile-info span {
  font-size: 10px;
  font-weight: 400;
}

.cards p {
  color: hsl(180, 5%, 85%);
}

strong {
  font-size: 12px;
}

/*-----DESKTOP VERSION-----*/
@media (min-width: 1240px) {
  .articles-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 4rem auto;
    gap: 2rem;
    max-width: 90%;
  }
  .cards h2 {
    margin-bottom: -0.5rem;
  }
  .cards p {
    padding: 1rem 2rem 0;
  }
  .security {
    height: 78px;
  }
}
.illust-productive {
  margin: 8rem auto 3rem auto;
  padding: 0 2rem;
}

.productive-para {
  margin-top: 4rem;
}

.productive-para p {
  color: hsl(180, 5%, 85%);
}

/*------LINK & ARROW SECTION------*/
.see-fylo-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  background: linear-gradient(#65e2d9, #339ecc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.see-fylo-link::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: -8px;
  width: 88%;
  height: 2px;
  background: linear-gradient(#65e2d9, #339ecc);
}

/*-----DESKTOP VERSION------*/
@media (min-width: 1240px) {
  .productive-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .productive-para {
    width: 45%;
  }
  .productive-para h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    width: 45%;
  }
  .productive-para p {
    opacity: 0.9;
  }
  .see-fylo-link:hover::after {
    background: hsl(0, 0%, 100%);
  }
  .see-fylo-link:hover {
    color: hsl(0, 0%, 100%);
  }
  .arrow-container:hover .background-clr {
    fill: #fff;
  }
}
.profile-section {
  margin-top: 15rem;
  position: relative;
}

.quotes {
  padding-left: 2.2rem;
  position: absolute;
  top: -2.8rem;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

/*-----DESKTOP VERSION-------*/
@media (min-width: 1240px) {
  .quotes {
    position: absolute;
    top: -0.5rem;
    left: -1.5rem;
    z-index: -1;
  }
  .profile-section {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
  }
}
.intro-btn {
  color: hsl(0, 0%, 100%);
  width: 15rem;
  margin-top: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

/*----DESKTOP VERSION-----*/
.signup-section {
  margin: auto;
  background: hsl(217, 28%, 15%);
  width: 21rem;
  border-radius: 10px;
  position: relative;
  inset: 0;
  z-index: 2;
  max-width: 800px;
  transform: translateY(50%);
}

.signup-text {
  padding: 2rem;
}

.signup-text h3 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  text-align: center;
}

.signup-text p {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  text-align: center;
  opacity: 0.9;
}

/*------DESKTOP VERSION-------*/
@media (min-width: 1240px) {
  .signup-section {
    width: 100%;
  }
  .signup-text {
    width: 80%;
    margin: auto;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=email] {
  width: 75%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  font-size: 11px;
  cursor: pointer;
}

input[type=email]::placeholder {
  opacity: 0.4;
}

.error-message p {
  font-size: 12px;
  color: hsl(0, 100%, 63%);
  margin: 0.5rem 0 0 -1.6rem;
}

.signup-btn {
  width: 75%;
  padding: 12px 20px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  border: none;
  border-radius: 20px;
  margin: 2rem;
  background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  cursor: pointer;
  transition: background 0.3s ease;
}

.hidden {
  display: none;
}

/*-----DESKTOP VERSION------*/
@media (min-width: 1240px) {
  .input-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
  }
  .signup-btn {
    max-width: 40%;
  }
  .signup-btn:hover {
    background: linear-gradient(hsl(176, 68%, 74%), hsl(198, 60%, 60%));
  }
  input[type=email] {
    outline: none;
  }
  .error-message p {
    position: absolute;
    top: 13rem;
    left: 8rem;
  }
}/*# sourceMappingURL=main.css.map */